{% extends 'base.html' %}

{% block content %}

  <h1>Shopping Cart</h1>
  <br></br>
  <div class="shopping-cart">

    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Quantity</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </div>

{% for item in cart_items %}
    <div class="product">
      <div class="product-image">
        <img src="{{ item.img }}">
      </div>
      <div class="product-details">
        <div class="product-title">{{ item.title }}</div>
        <p class="product-description"> {{ item.description }}</p>
      </div>
      <div class="product-price">{{ item.price }}</div>
      <div class="product-quantity">
          <input class="product-quantity-number" type="number" value="1" min="1">
      </div>
      <div class="product-removal">
        <form class="" action="/cart/{{ item._id }}/delete" method="post">
          <button class="remove-product">Remove</button>
        </form>
      </div>



      <div class="product-line-price">{{ item.price }}</div>
    </div>
{% endfor %}

    <div class="totals">
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal">71.97</div>
      </div>
      <div class="totals-item">
        <label>Tax (5%)</label>
        <div class="totals-value" id="cart-tax">3.60</div>
      </div>
      <div class="totals-item">
        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping">15.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total">90.57</div>
      </div>
    </div>

        <button class="checkout">Checkout</button>

  </div>
{% endblock %}
